@charset "utf-8";
@import "./reset.css";

body {
    background-color: rgb(8, 8, 49);
}

header {
    text-align: center;
    color: #fff;
    background-color: blue;
    box-shadow: 3px;
}

main {
    /* margin: 100px; */
    height: 500px;
    width:auto;
    color: blue;
    text-align: center;
    background-color: #fff;

    p {
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

footer {
    color: #fff;
    text-align: center;

}

.map {
    height: 50svh;
    width: 50%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    display: none !important;
} 


